<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Server Sent Events demo</title>
</head>
<script>
    var source = new EventSource("/stream/emails/fakesmtpClient");
    console.log(source);

    source.onmessage = function(e) {
        var newElement = document.createElement("li");
        var json = JSON.parse(e.data);
        console.log('onmessage');
        console.log(json);
        newElement.innerHTML = json.body.content;
        var emails = document.getElementById("emails");
        emails.appendChild(newElement);
    };

    // setTimeout(function() {
    //     console.log("SENT CLOSE");
    //     source.close();
    //     console.log(source);
    // }, 5000);
</script>
<body>
<div>
    <h1>Server Sent Events demo</h1>

    <ul id="emails"></ul>
</div>
</body>
</html>